manifest {
    name            = 'tb-lite'
    author          = 'Kiselev S.I.'
    description     = 'Mycobacterium tuberculosis WGS analysis pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '2.0.0'
    defaultBranch   = 'main'
}

params {
    input               = null
    samples             = null
    sra_ids             = null
    batch_tag           = null
    outdir              = "./results2"
    reference           = "${baseDir}/assets/h37rv.fa"
    mode                = 'copy'

    // Reporting
    skip_reports        = false
    skip_multiqc        = false
    skip_final_reports  = false
    skip_snp_matrix     = false
    skip_qc             = false

    // Optional Kraken2/Bracken
    skip_kraken         = false
    kraken2_db          = null
    kraken2_db_label    = null
    kraken2_db_2        = null
    kraken2_db_label_2  = null

    // Assets
    rd_db               = "${baseDir}/assets/rd/RD.bed"
    is6110              = "${baseDir}/assets/ismap/is6110.fasta"
    chr_name            = "${baseDir}/assets/chr_name/chr.txt"
    levels              = "${baseDir}/assets/tbmix/levels.tsv"
    multiqc             = null
    multiqc_config      = "${baseDir}/assets/multiqc/multiqc_config.yaml"
    snpeff_db           = "h37rv_custom"
    snpeff_data_dir     = "${baseDir}/assets/SNPEFF_ANNOTATION/data"
    gbk                 = "${baseDir}/assets/h37rv.gbk"
    h37rv_feature_table = "${baseDir}/assets/SNPEFF_ANNOTATION/h37rv_feature_table.txt"

    // Filters
    min_align_pct       = 90
    min_median          = 30

    help                = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

executor {
    name = 'local'
    cpus = 12
}

profiles {
    docker {
        docker.enabled      = true
        singularity.enabled = false
        conda.enabled       = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        conda.enabled          = false
    }

    conda {
        conda.enabled       = true
        docker.enabled      = false
        singularity.enabled = false
        
    }
}

conda {
    cacheDir = System.getenv('NXF_CONDA_CACHEDIR') ?: "${System.getenv('HOME')}/.nextflow_conda_cache/tb-lite"
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

singularity {
    enabled    = false
    autoMounts = true
}
