// nextflow.config

manifest {
    name            = 'tb-lite'
    author          = 'Kiselev S.I.'
    description     = 'Mycobacterium tuberculosis WGS analysis pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
    defaultBranch   = 'main'
}

params {
    outdir            = "./results"
    reference         = "${baseDir}/assets/h37rv.fa"
    mode              = 'copy'
    skip_reports      = false
    rd_db             = "${baseDir}/assets/rd/RD.bed"
    is6110            = "${baseDir}/assets/ismap/is6110.fasta"
    ref_gbk           = "${baseDir}/assets/ismap/h37rv.gbk"
    chr_name          = "${baseDir}/assets/chr_name/chr.txt"
    levels            = "${baseDir}/assets/tbmix/levels.tsv"
    feature_table     = "${baseDir}/assets/vcf2table/feature_table.tsv"
    multiqc           = "${baseDir}/assets/multiqc/multiqc_config.yaml"
    gff               = null
    snpeff_db         = "Mycobacterium_tuberculosis_h37rv"
    gbk               = "${baseDir}/assets/h37rv.gb"
    h37rv_feature_table = "${baseDir}/assets/SNPEFF_ANNOTATION/h37rv_feature_table.txt"

    min_align_pct     = 80
    min_mean_cov      = 10
    min_median        = 10

    samples           = null
    sifDir            = ( System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${baseDir}/containers" )
    help              = false
}

// Load base resource config and per-process container config
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    local {
        executor {
            name = 'local'
            cpus = 12
        }
        process {
            withLabel: solo_cpu {
                maxForks = 12
            }
            withLabel: multi_cpu {
                maxForks = 6
                cpus     = 4
            }
        }
    }

    k8s {
        executor {
            name = 'k8s'
        }
        process {
            cpus = 3
        }
    }
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}
