// nextflow.config


params {
    outdir        = "./results"
    reference     = "/home/zerg/git/tb-lite/assets/h37rv.fa"
    mode          = 'link'                    // link | copy
    rd_db         = "/home/zerg/git/tb-lite/assets/rd/RD.bed"
    is6110        = "/home/zerg/git/tb-lite/assets/ismap/is6110.fasta"
    ref_gbk       = "/home/zerg/git/tb-lite/assets/ismap/h37rv.gbk"
    chr_name      = "/home/zerg/git/tb-lite/assets/chr_name/chr.txt"
    levels        = "/home/zerg/git/tb-lite/assets/tbmix/levels.tsv"
    feature_table = "/home/zerg/git/tb-lite/assets/vcf2table/feature_table.tsv"
    multiqc       = "/home/zerg/git/tb-lite/assets/multiqc/multiqc_config.yaml"
    gff         = "/home/zerg/Downloads/Mycobacterium_tuberculosis_gca_001318445.6505_5_10.62.gff3"

    h37rv_feature_table = "/home/zerg/git/tb-lite/assets/SNPEFF_ANNOTATION/h37rv_feature_table.txt"

    min_align_pct = 80
    min_mean_cov  = 10
    min_median    = 10

    samples       = "run.csv"
    sifDir        = ( System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${baseDir}/containers" )
}


profiles {
    local {
        executor {
            name      = 'local'
            cpus    = 12
        }
        process {
            
            withLabel: solo_cpu {
                maxForks    = 12
                cpus        = 1
            }
            withLabel: multi_cpu {
                maxForks    = 6
                cpus        = 2
            }
            withLabel: small_mem {
                memory = 4.GB
            }

            // 💧💧 2) стандартные задачи
            withLabel: medium_mem {
                memory = 6.GB
            }

            // 💧💧💧 3) тяжёлые (сборка, mappers, BCFtools mpileup и т.д.)
            withLabel: big_mem {
                memory = 8.GB
            }
        }
    }
}

// включаем Apptainer / Singularity и запрещаем авто-скачивание
singularity {
    enabled   = true
    autoMounts = true
}


process {

withName: 'ANN_TABLE:POST_PROCESS_TABLE' {
      container = "${params.sifDir}/ann_table.sif"
      containerOptions = "--env _JAVA_OPTIONS=\"-Xlog:perf+memops=off\""
  }


    withName: 'ANN_TABLE:SNPEFF_ANN' {
      container = "${params.sifDir}/snpeff_table.sif"
      containerOptions = "--env _JAVA_OPTIONS=\"-Xlog:perf+memops=off\""
  }

  withName: 'ANN_TABLE:MERGE' {
      container = "${params.sifDir}/snpeff_table.sif"
  }
  withName: 'ANN_TABLE:MAKE_TABLE' {
      container = "${params.sifDir}/snpeff_table.sif"
  }
    withName: 'TRIMMING:REPAIR_READS' {
      container = "${params.sifDir}/bbmap_38.96.sif"
  }

  withName: 'QC:FASTQC' {
      container = "${params.sifDir}/fastqc_latest.sif"
  }

  withName: 'TRIMMING:FASTP' {
      container = "${params.sifDir}/fastp_0.24.1.sif"
  }

  withName: 'MAPPING:BWA_PICARD' {
      container = "${params.sifDir}/bwa-picard.sif"
  }

  withName: 'FILTER:RUN_MAP_STATS' {
      container = "${params.sifDir}/picard_3.4.0.sif"
  }

  withName: 'FILTER:TB_MIX' {
      container = "${params.sifDir}/tb_mix.sif"
  }



  withName: 'FILTER:RUN_SAMTOOLS_STATS' {
      container = "${params.sifDir}/bwa-picard.sif"
  }

  withName: 'CALLVAR:BCFTOOLS_STATS' {
      container = "${params.sifDir}/bcftools.1.22.sif"
  }

  withName: 'CALLVAR:BCFTOOLS_CALL_VARIANTS' {
      container = "${params.sifDir}/gatk.sif"
  }

  withName: 'CALLVAR:FREEBAYES_CALL_VARIANTS' {
      container = "${params.sifDir}/freebayes.sif"
  }
    withName: 'CALLVAR:GATK_CALL_VARIANTS' {
        container = "${params.sifDir}/gatk.sif"
    }

  withName: 'GENOTYPE:SPOTYPING' {
      container = "${params.sifDir}/spotyping.sif"
  }

   withName: 'GENOTYPE:MOSDEPTH' {
      container = "${params.sifDir}/mosdpt.sif"
  }

  withName: 'GENOTYPE:RD' {
      container = "${params.sifDir}/rd.sif"
  }

  withName: 'GENOTYPE:TBLG' {
      container = "${params.sifDir}/tblg.sif"
  }

  withName: 'CALLVAR:SNPEFF_ANNOTATE_VCF' {
        container = "${params.sifDir}/snpeff.sif"
        containerOptions = "--env _JAVA_OPTIONS=\"-Xlog:perf+memops=off\""
    }
  
  withName: 'CALLVAR:RENAME_CHR' {
        container = "${params.sifDir}/bcftools.1.22.sif"
    }

    withName: 'GENOTYPE:TB_PROFILER_DR' {
        container    = "${params.sifDir}/tbp.sif"
        containerOptions = "--env _JAVA_OPTIONS=\"-Xlog:perf+memops=off\""
    }

  withName: 'GENOTYPE:ISMAPPER' {
        container = "${params.sifDir}/ismap.sif"
    }
    
    withName: 'REPORTS:MULTIQC' {
        container = "${params.sifDir}/multiqc_v1.30.sif"
    }
    withName: 'REPORTS:FINAL_TABLE' {
        container = "${params.sifDir}/build_table.sif"
    }
    withName: 'MAPPING:BWA_INDEX' {
        container = "${params.sifDir}/bwa-picard.sif"
    }


}

