// singularity.config
// Совместимость для старого способа запуска:
//   nextflow run main.nf -c singularity.config
//
// Предпочтительный способ:
//   nextflow run main.nf -profile singularity

docker {
    enabled = false
}

singularity {
    enabled    = true
    autoMounts = true
}

conda {
    enabled = false
}
