// conf/base.config — Process resource defaults

process {
    cpus   = 1
    memory = 4.GB

    withLabel: solo_cpu {
        cpus = 1
    }
    withLabel: multi_cpu {
        cpus = 4
    }
    withLabel: small_mem {
        memory = 4.GB
    }
    withLabel: medium_mem {
        memory = 6.GB
    }
    withLabel: big_mem {
        memory = 8.GB
    }
}
