// conf/base.config — Process resource defaults

process {
    cpus   = 1
    memory = 4.GB

    withLabel: process_single {
        cpus = 1
        memory = 4.GB
    }
    withLabel: process_low {
        cpus = 2
        memory = 6.GB
    }
    withLabel: process_medium {
        cpus = 6
        memory = 8.GB
    }
    withLabel: process_high {
        cpus = 6
        memory = 8.GB
    }
}
