// conf/base.config — Process resource defaults

process {
    cpus   = 1
    memory = 4.GB

    withLabel: solo_cpu {
        cpus = 1
    }
    withLabel: multi_cpu {
        cpus = 10
    }
    withLabel: small_mem {
        memory = 4.GB
    }
    withLabel: medium_mem {
        memory = 6.GB
    }
    withLabel: big_mem {
        memory = 8.GB
    }
    withLabel: process_single {
        cpus = 1
        memory = 4.GB
    }
    withLabel: process_low {
        cpus = 2
        memory = 6.GB
    }
    withLabel: process_medium {
        cpus = 6
        memory = 8.GB
    }
    withLabel: process_high {
        cpus = 12
        memory = 16.GB
    }
}
